body {
    font-size: 100%;
    //animation: opening .8s ease;
    background:  #0F2027;

}

main {
    min-height: calc(100vh - 69.2px);
}



.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
 }

.breadcrumb {
    .active {
        font-weight: bolder;
    }
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}



