.user-detail {
    font-size: 110%;
    i {
        background: #efefef;
        padding: .6rem;
        border-radius: 50%;
        margin-right: .5rem;
    }

    .card-text {
        margin-bottom: .5rem;
    }
}
